@model IEnumerable<PlanetariumService.Models.TicketUI>

@{
    ViewData["Title"] = "Choose tickets";
}

<h1>Choose tickets</h1><br />
<div class="row">
        <div class="col-12">
            <hr />
        </div>
</div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<form asp-action="Buy">
    <tbody>
        @for (int i = 0; i < Model.Count() / 5; i++)
        {
            @for (int j = 0; j < 5; j++)

            {
                @if (Model.ElementAt(i * 5 + j).TicketStatus == "bought")
                {
                    <div class="ticket stopped">
                        <label>
                            <input name="tickets" type="checkbox" value=@Model.ElementAt(i*5 + j).Id place=@Model.ElementAt(i*5 + j).Place performance=@Model.ElementAt(i*5 + j).Poster.Performance.Title date=@Model.ElementAt(i*5 + j).Poster.DateOfEvent>
                            <span>@Html.DisplayFor(modelItem => Model.ElementAt(i*5 + j).Place)</span>
                        </label>
                    </div>
                }
                else
                {
                    <div class="ticket action">
                        <label>
                            <input name="tickets" type="checkbox" value=@Model.ElementAt(i*5 + j).Id place=@Model.ElementAt(i*5 + j).Place performance="@Model.ElementAt(i*5 + j).Poster.Performance.Title" date="@Model.ElementAt(i*5 + j).Poster.DateOfEvent">
                            <span>@Html.DisplayFor(modelItem => Model.ElementAt(i*5 + j).Place)</span>
                        </label>
                    </div>
                }


            }
            <br>
            <br>
        <br>

        }
        

        

    </tbody>
    <br /><br />
    <input id="buyButton" type="submit" value="Buy" class="btn btn-danger" asp-controller="Ticket" asp-action="Buy">
</form>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/buyingTickets.js"></script>